<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th th:fragment="sort_header(header, column)" scope="col">[[${header}]]
    <a th:href="@{/student(nameFilter=${param.nameFilter}, page=${num}, size=${param.size}, sort=${column})}">
        <i style="position: absolute; padding-left: 5px" class="fa fa-sort-up"></i>
    </a>
    <a th:href="@{/student(nameFilter=${param.nameFilter}, page=${num}, size=${param.size}, sort=${column})}">
        <i style="position: absolute; padding-left: 5px" class="fa fa-sort-down"></i>
    </a>
</th>

</html>
