<div>
    <p></p>
    <h3>Create product</h3>
    <form novalidate ng-submit="createProduct()">
        <input class="form-control" type="text" placeholder="Title" ng-model="new_product.title">
        <p></p>
        <input class="form-control" type="number" placeholder="Price" ng-model="new_product.price">
        <p></p>
        <input class="form-control" type="text" placeholder="Category" ng-model="new_product.categoryTitle">
        <p></p>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>