<div>
    <p></p>
    <h3>Registration</h3>
    <form novalidate ng-submit="tryToRegistration()">
        <input class="form-control" type="text" placeholder="username" ng-model="new_user.username">
        <br>
        <input class="form-control" type="text" placeholder="email" ng-model="new_user.email">
        <p></p>
        <input class="form-control" type="password" placeholder="password" ng-model="new_user.password">
        <br>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>